* {
    margin: 0;
    padding: 0;
    font-family: arial;
}
ul {
    list-style: none;
}
.container {
    width: 80%;
    margin: auto;
}
header#header {
    background: #191379;
}
ul.mainMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
}
li.mainMenuList:nth-child(1) {
    border-left: 1px solid #838388;
}
li.mainMenuList {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
li.mainMenuList:hover {
    background: #22222e;
}
a.mainMenuLink {
    display: block;
    padding: 10px 20px;
    border-right: 1px solid #838388;
    color: white;
}

section#slider {
    background: #22222e;
    height: 600px;
    text-align: center;
    position: relative;
}
.sliderLogo {
    text-align: center;
}
.sliderLogo img {
    width: 100px;
    margin-top: 67px;
}
.sliderHeader h1 {
    color: white;
    font-size: 46px;
    margin-top: 100px;
}
.sliderpara {
    width: 19%;
    margin: 0 auto;
    margin-top: 20px;
}

.sliderpara p {
    color: white;
    font-size: 13px;
}

.sliderbottomicon {
    bottom: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sliderbottomicon i {
    color: white;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    width: 2em;
    height: 2em;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
section#portfolio {
    margin: 60px 0;
}
.aboutme {
    width: 80%;
    margin: auto;
    font-size: 22px;
    color: #736363;
    font-weight: 600;
    text-align: center;
}
h2.portfolioHeader {
    text-align: center;
    margin: 40px 2px;
    font-size: 54px;
    text-transform: uppercase;
    font-weight: 700;
    color: #444242;
}
p.serviceboxdec {
    font-size: 17px;
    color: #736d6d;
    width: 90%;
    line-height: 1.8em;
}
.serviceFlexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.serviceflexItem {
    width: 30%;
}
section#work {
    background: #22222e;
    padding: 20px 0;
}
h2.portfolioHeader.workHeader {
    color: white;
}
ul.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}
ul.nav li {
    padding: 6px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    font-weight: 500;
}
li.active {
    border-bottom: 2px solid #7b77c9;
}

.workFlexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
}
.workFlexItem {
    text-align: center;
    width: 32%;
    margin-top: 30px;
}
.workFlexItem img {
    width: 100%;
}
.workFlexItem h3 {
    color: white;
    margin: 15px 0;
    font-size: 18px;
}
.workFlexItem p {
    color: #ffffffb8;
    font-size: 14px;
    font-weight: 500;
    margin-top: -7px;
}

.seeamoreWOEK {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 55px;
}

.seeamoreWOEK a {
    background: #7b77c9;
    padding: 13px 24px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}

.aboutme.photography p {
    width: 65%;
    margin: auto;
    font-weight: 500;
}
.gallaryFlexItem {
    width: 32%;
    margin-top: 20px;
}

.gallaryFlexItem img {
    width: 100%;
}
section#newsletter {
    background: #22222e;
    padding: 150px 0;
    text-align: center;
}
.newsletterpara p {
    width: 382px;
    margin: auto;
    color: white;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.newsletterform form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
}
input[type="text"] {
    border-radius: 3px;
    width: 60%;
}

input[type="SUBMIT"] {
    border-radius: 3px;
    width: 33%;
    background: #7b77c9;
    color: white;
    cursor: pointer;
}
.newsletterform form input:focus {
    outline: none;
}

.newsletterform form input {
    padding: 11px;
    border: none;
}
footer {
    padding: 50px 0;
}
.copyright {
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: #000000a8;
}

ul.socialIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 200px;
    margin: 20px auto;
}

ul.socialIcon li i {
    font-size: 30px;
    color: #dbdbdb;
}
